{
    "plugins": ["prettier-plugin-tailwindcss"],
    "useTabs": false,
    "tabWidth": 2,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 140,
    "endOfLine": "auto"
}
